/* Palette : */
/* #9AE0FD -> Eau */
/* #AFCA07 -> Vert herbe*/
/* #ACC900 -> Vert herbe clair*/
/* #4DB201 -> Vert*/
/* #4CB400 -> Vert foncé*/
/* #FBD202 -> Jaune*/

* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

:root {
    --c-bg: rgb(75, 75, 75);
    --c-text: hsl(0, 0%, 10%);
    --c-text-opacity: hsla(0, 0%, 10%, 0.5);
    --pad: max(20px, 4vmin)
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    background-color: var(--c-bg);
    overflow: hidden;
}

.app-container {
    position: absolute;
    height: auto;
    bottom: calc(var(--pad)*1.5);
    top: calc(var(--pad)*1.5);
    left: var(--pad);
    right: var(--pad);
    overflow: auto;
}

.app-container::-webkit-scrollbar {
    display: none;
}

.app-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.app {
    border-radius: 12px;
    background-color: white;
    padding: var(--pad);
    overflow-y: auto;
    overflow-x: hidden;
}

.full {
    height: calc(100vh - var(--pad) * 5);
    width: calc(100vw - var(--pad) * 4);
}

.fill {
    height: 100%;
    width: 100%;
}


/* Display Layout */
/* PC : */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.45fr 0.45fr;
    gap: calc(var(--pad)/2);
    min-height: 0;
    /* NEW */
    min-width: 0;
    /* NEW; needed for Firefox */
    grid-auto-flow: row;
    grid-template-areas:
        "main main sec sec sec3 sec3"
        "main main sec2 sec2 sec4 sec4"
        "main main th th2 th3 th4"
        "main main th5 th6 th7 th8";
}

.main {
    grid-area: main;
    margin-right: calc(var(--pad)*0.7);
}

.sec {
    grid-area: sec;
}

.sec2 {
    grid-area: sec2;
}

.th {
    grid-area: th;
}

.th2 {
    grid-area: th2;
}

.sec3 {
    grid-area: sec3;
}

.sec4 {
    grid-area: sec4;
}

.th3 {
    grid-area: th3;
}

.th4 {
    grid-area: th4;
}

.th5 {
    grid-area: th5;
}
.th6 {
    grid-area: th6;
}
.th7 {
    grid-area: th7;
}
.th8 {
    grid-area: th8;
}


/* GLASS */
.container>div,
.glass {
    background: #a7e2f029;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 0;
    /* NEW; needed for Firefox */
}

.container>div>h3 {
    margin: 0;
}


.noblur {
    background: rgba(239, 252, 255, 0.16);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
}

/* Agencement MAIN */
.main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    text-align: center;
    margin-bottom: 0;
}

.icon>img {
    width: 100vw;
    max-width: 40%;
}

.state {
    color: orange;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.state * {
    font-weight: 400;
    margin: 0;
}

.state>h1 {
    font-size: 150pt;
    transform: scaleY(1.15);
    height: fit-content;
}

.state>.operator {
    font-size: 90pt;
    align-self: center;
}

.state>.degree {
    font-size: 40pt;
}

/* Statistics 2 COLUMN Layout */
.statistics {
    font-weight: 400;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
}

.feels {
    position: relative;
    top: -20px;
}

/* DOTS */
.dot {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dot * {
    margin-right: 6px;
}

.visible {
    overflow: visible;
}

/* HOVER MORE DETAILS : */
.aqi-container {
    position: absolute;
    visibility: hidden;
}

.aqi:hover {
    cursor: copy;
}

.aqi:hover>.aqi-container {
    visibility: visible;
    display: flex;
}

.aqi:hover>.aqi-container>.aqi-stats {
    opacity: 1;
    transition: 0.7s;
}

.aqi-stats {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    gap: 15px;
    padding: 10px;
    font-size: 18px;
    opacity: 0;
    transition: 0.7s;
}

.astro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}


/* PHONE : */
@media (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .main {
        margin-right: 0;
    }

    .container>div {
        height: 100%;
        width: 100%;
    }

    .container>div,
    .glass {
        padding: 10px;
    }

    .full {
        height: fit-content;
        width: fit-content;
    }
}